@import url(../../../stylesheets/application.css);

body {
     color: white;
     background: black;
}

#top-menu {
    font-size: 80%;
    height: 2em;
    padding-top: 0.5em;
    background-color: #00BACA;
    color: black;
}

#top-menu a {
    font-weight: bold;
    color: black;
}

#header {
    height:5.8em;
    padding: 10px 0 0 0;
    color: #00BACA;
    background-color: black;
}

#header h1 {
    margin-left: 6px;
    color: #00BACA;
}

#quick-search { margin-right: 6px; }
#main-menu { left: 0; width: 100%; }
#main-menu li {
    margin-left: 3px;
    padding: 0;
}
#main-menu li a {
    background-color: #80b0da;
    font-size: 90%;
    padding: 4px 8px 4px 8px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}
#main-menu li a:hover { background-color: #80b0da; color: #ffffff; }
#main-menu li a.selected, #main-menu li a.selected:hover {
    background-color: #d3d3d3;
    color: black;
}

#footer {
background-color: #fff; border: 0; color: #d3d3d3;
}
#footer a {
    color: #000;
    font-weight: bold;
}

#main { font:90% Verdana,Tahoma,Arial,sans-serif; background: #e8eaec; }
#main a { font-weight: bold; color: #467aa7;}
#main a:hover { color: #2a5a8a; text-decoration: underline; }
#content { background: #d3d3d3; }
#content .tabs ul { bottom:-1px; }

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; color:#606060; font-family: Trebuchet MS,Georgia,"Times New Roman",serif; }
h2, .wiki h1 { letter-spacing:-1px; }
h4 { border-bottom: dotted 1px #c0c0c0; }

#top-menu a.home, #top-menu a.my-page, #top-menu a.projects, #top-menu a.administration, #top-menu a.help {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#top-menu a.home { background-image: url(../images/home.png); }
#top-menu a.my-page { background-image: url(../../../images/user.png); }
#top-menu a.projects { background-image: url(../../../images/projects.png); }
#top-menu a.administration { background-image: url(../images/wrench.png); }
#top-menu a.help { background-image: url(../../../images/help.png); }


div.issue, .box {
    background-color: #00BACA;
    color: black;
}

#main div.issue a, #main .box a {
    color: white;
}

#main .box a:hover {
    color: #d3d3d3;
    text-decoration: underline;
}


#login-form table {
    border: 2px solid black;
    background-color: #00BACA;
}

#login-form a {
    color: black;
}
